<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>{% block title %}My Site{% endblock %}</title>
</head>
<body class="bg-light">

    {% include "_navbar.html" %}

    <!-- Main content -->
    <main class="py-4">
        {% block content %}{% endblock content %}
    </main>

    <!-- Bootstrap JS (внизу для скорости) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>