{% extends 'base.html' %}


{% block content %}
    <h1>Services page</h1>

    <!-- ul => unordered list -->
    <!-- ol => ordered list -->
    <!-- li => list item -->
    <ul>
        <li>Telefon tuzatish</li>
        <li>Steklo qo'yish</li>
        <li>IMEIkadan o'tkazish</li>
        <li>iCloud ni ochish</li>
    </ul>

    <ol>
        <li>Telefon tuzatish</li>
        <li>Steklo qo'yish</li>
        <li>IMEIkadan o'tkazish</li>
        <li>iCloud ni ochish</li>
    </ol>
{% endblock content %}